.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 150px;
}

.nav-items > ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
    padding: 0px 20px

}

.nav-items > ul > li {
    margin: 10px;
    padding: 10px;
}

.res-card{
    width: 200px;
    /* height: 300px; */
    margin: 5px;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;

}

.search {
    padding: 10px;
}

.res-logo{
    width: 100%;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.filter-btn{
    margin: 5px;
    cursor: pointer;
}